<div style="text-align: center">
  <h2>28 - Comunicación entre Angular y PHP</h2>
  <h3>Administracion de artículos</h3>
  <table border="1" *ngIf="hayRegistros28(); else sinarticulos28">
    <tr>
      <td>Codigo</td><td>Descripcion</td><td>Precio</td><td>Borrar</td><td>Seleccionar</td>
    </tr>
    <tr *ngFor="let art of articulos28">
      <td>{{art.codigo}}</td>
      <td>{{art.descripcion}}</td>
      <td>{{art.precio}}</td>
      <td><button (click)="baja(art.codigo)">Borrar?</button></td>
      <td><button (click)="seleccionar28(art.codigo)">Seleccionar</button></td>
    </tr>
  </table>
  <ng-template #sinarticulos28>
    <p>No hay artículos</p>
  </ng-template>
  <div>
    <p>descripción: <input type="text" [(ngModel)]="art.descripcion"></p>
    <p>precio: <input type="number" [(ngModel)]="art.precio"></p>
    <p>
      <button (click)="alta()">Agregar</button>
      <button (click)="modificacion()">Modificar</button>
    </p>
  </div>
</div>
<hr><hr>

<div style="text-align: center">
  <h2>20 - Pipes: creación de pipes personalizadas</h2>
  <h3>numeros en castellano</h3>
  <ul>
    <li *ngFor="let valor of vector">
      {{valor|letras}}
    </li>
  </ul>
  <h3>numeros en inglés</h3>
  <ul>
    <li *ngFor="let valor of vector">
      {{valor|letras:'ingles'}}
    </li>
  </ul>
  <h3>numeros en portugés</h3>
  <ul>
    <li *ngFor="let valor of vector">
      {{valor|letras:'portugues'}}
    </li>
  </ul>
</div>

<div style="text-align: center">
  <h2>19 - Pipes: definición</h2>
  <p>Nombre del cliente:{{nombre19}}</p>
  <p>Nombre del cliente en mayúsculas:{{nombre19 | uppercase}}</p>
  <p>Nombre del cliente en minúsculas:{{nombre19 | lowercase}}</p>
  <p>El saldo es: {{saldo | currency:'$'}}</p>
  <p>Días laborales: {{dias | slice:1:6}}</p>
  <p>{{articulos19 | json}}</p>
  <p>Fecha actual: {{fechaActual | date:'d/M/y'}}</p>
</div>

<div style="text-align: center">
  <h2>18 - Servicios: recuperación de datos de un servidor web</h2>
  <div *ngIf="articulos!=null; else espera" class="centerTable">
  <table border="1">
    <tr>
      <td>Codigo</td>
      <td>Descripcion</td>
      <td>Precio</td>
    </tr>
    <tr *ngFor="let art of articulos18">
        <td>{{art.codigo}}</td>
        <td>{{art.descripcion}}</td>
        <td>{{art.precio}}</td>
    </tr>
  </table>
</div>
<ng-template #espera>Esperando datos...</ng-template>
</div>

<div style="text-align: center">
  <h2>17 - Servicios: concepto y pasos para crearlos</h2>
  <div class="centerTable">
    <table border="1">
      <tr *ngFor="let articulo of articulos17">
        <td>{{articulo.codigo}}</td>
        <td>{{articulo.descripcion}}</td>
        <td>{{articulo.precio}}</td>
      </tr>
    </table>
  </div>
  
</div>


<div style="text-align: center">
  <h2>ejercicio 16 - Router: definición de rutas</h2>
  <a routerLink="/juegodados">Juego de dados</a>
  <a routerLink="/acercade">Acerca de ...</a>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<div style="text-align: center">
  <h2>ejercicio 15 - Petición de un archivo JSON a un servidor</h2>
  <div *ngIf="articulos15!=null; else espera">
    <table border="1">
      <tr>
        <td>Codigo</td>
        <td>Descripcion</td>
        <td>Precio</td>
      </tr>
      <tr *ngFor="let art of articulos15">
        <td>{{art.codigo}}</td>
        <td>{{art.descripcion}}</td>
        <td>{{art.precio}}</td>
      </tr>
    </table>
  </div>
  <ng-template #espera>Esperando datos...</ng-template>
  <hr><hr>
</div>

<div style="text-align: center">
  <h2>ejercicio 14 - Módulos: creación y consumo</h2>
  <app-dado2 valor="6"></app-dado2>
  <hr><hr>
</div>

<div style="text-align: center">
  <h2>ejercicio 13 - Componentes: enlace de propiedades (Property Binding)</h2>
  <app-listadoarticulos [datos]="articulos2"></app-listadoarticulos>
  <hr><hr>
</div>

<div style="text-align: center">
  <h2>ejercicio 12 - Componentes: llamar a métodos de la componente hija desde la clase padre</h2>
  <app-selectornumerico minimo="1" maximo="10" #selector2></app-selectornumerico>
  <br>
  <button (click)="fijarSelector2(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector2(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector2(10)">Fijar en 10</button><br>
  <hr>
  <app-selectornumerico minimo="1" maximo="10" #selector3></app-selectornumerico>
  <br>
  <button (click)="fijarSelector3(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector3(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector3(10)">Fijar en 10</button><br>
</div>
<hr>

<div style="text-align: center">
  <h2>ejercicio 11 - selector númerico</h2>
  <app-selectornumerico minimo="1" maximo="10" #selector1></app-selectornumerico>
  <br>
  <button (click)="selector1.fijar(1)">Fijar en 1</button><br>
  <button (click)="selector1.fijar(5)">Fijar en 5</button><br>
  <button (click)="selector1.fijar(10)">Fijar en 10</button><br>
</div>
<hr>
<div style="text-align: center">
  <h2>ejercicio 10 - cronometro</h2>
  <h4>Prueba de la componente cronometro</h4>
  <app-cronometro inicio="15" (multiplo10)="actualizar($event)"></app-cronometro>
  <h4>Evento</h4>
  <h5>{{mensaje}}</h5>
</div>
<hr>
<div style="text-align: center">
  <h2>ejercicio 9 dado pasando valor</h2>
  <app-dado-ej9 valor="{{valor1}}"></app-dado-ej9>
  <app-dado-ej9 valor="{{valor2}}"></app-dado-ej9>
  <app-dado-ej9 valor="{{valor3}}"></app-dado-ej9>
  <hr>
  <button (click)="tirar()">Tirar</button>
  <hr>
  <p>Resultado:{{resultadoEj9}}</p>
</div>

<div style="text-align: center">
  <h2>ejercicio 8</h2>
  <app-dado valor="{{valor1}}"></app-dado>
  <app-dado valor="{{valor2}}"></app-dado>
  <app-dado valor="{{valor3}}"></app-dado>
  <hr>
  <button (click)="tirar()">Tirar</button>
  <hr>
  <p>Resultado:{{resultado}}</p>
</div>

<div>

    <h2>7 ejercicio problema</h2>
    <h3>Administración de artículos</h3>
    <table border="1" *ngIf="hayRegistros(); else sinarticulos">
        <tr>
          <td>Código</td>
          <td>Descripción</td>
          <td>Precio</td>
          <td>Borrar</td>
          <td>Seleccionar</td>
        </tr>
        <tr *ngFor="let art of articulos">
          <td>{{art.codigo}}</td>
          <td>{{art.descripcion}}</td>
          <td>{{art.precio}}</td>
          <td><button (click)="borrar(art)">Borrar?</button></td>
          <td><button (click)="seleccionar(art)">Seleccionar</button></td>
        </tr>
      </table>
      <ng-template #sinarticulos><p>No hay artículos</p></ng-template>
      <p>Código: <input type="text" [(ngModel)]="art.codigo"> </p>
      <p>Descripción: <input type="text" [(ngModel)]="art.descripcion"> </p>
      <p>Precio: <input type="text" [(ngModel)]="art.precio"> </p>
      <button (click)="agregar()">Agregar</button>
      <button (click)="modificar()">Modificar</button>


    <h2>7 ejercicio ngModel, enlace dos direcciones</h2>
    <p>Ingrese nombre <input type="text" [(ngModel)]="nombre2"></p>
    <p>Ingrese apellido <input type="text" [(ngModel)]="apellido2"></p>
    <p>Nombre completo: {{nombre2}}, {{apellido2}}</p>
    
    
    <h2>6 ejercicio contador</h2>
    <p>{{contador}}</p>
    <!--deben ir entre paréntesis los nombres de los eventos) y luego entre comillas el nombre del método que se llama:-->
    <button (click)="incrementar()">Sumar 1</button>
    <button (click)="decrementar()">Restar 1</button>
  
  
    <h2>5</h2>
    <p *ngIf="edad>18; else menor">Es mayor de edad</p>
    <ng-template #menor><p>Es un menor de edad</p></ng-template>
    <table border="1">
      <tr>
        <td>Sueldos</td>
      </tr>
      <tr *ngFor="let sueldo of sueldos">
        <td>{{sueldo}}</td>
      </tr>
    </table>
  
  <p>http://www.tutorialesprogramacionya.com/angularya/</p>
  <p>Nombre del empleado: {{nombre}}</p>
  <p>Edad: {{edad}}</p>
  <p>Los últimos tres sueldos son: {{sueldos[0]}}, {{sueldos[1]}} y {{sueldos[2]}}</p>
  <p>En los últimos 3 meses ha ganado: {{ultimos3Sueldos()}}</p>
  <p>{{esActivo()}}</p>

  
</div>